* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f8fd;
    color: #101d3a;
}

/* Navbar */

.navbar {
    height: 85px;
    background: linear-gradient(90deg, #2478df, #2878d8);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 35px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.logo span {
    margin-right: 15px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

.nav-links button {
    background: white;
    color: #2473ca;
    border: none;

    padding: 15px 40px;
    border-radius: 8px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

/* Main Layout */

.container {
    max-width: 1450px;
    margin: 30px auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;

    padding: 0 20px;
}

main,
aside {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Cards */

.card {
    background: white;
    border: 1px solid #d9e1e8;
    border-radius: 15px;
    padding: 25px;
}

.card h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

/* Create Post */

textarea {
    width: 100%;
    height: 120px;

    resize: vertical;

    border: 1px solid #b9c5d2;
    border-radius: 9px;

    padding: 15px;

    font-size: 20px;
    outline: none;
}

textarea:focus {
    border-color: #2580e5;
}

.post-btn {
    margin-top: 15px;

    background: #2580e5;
    color: white;

    border: none;
    border-radius: 7px;

    padding: 14px 45px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

.post-btn:hover {
    background: #176bc5;
}

/* Posts */

.post {
    min-height: 155px;

    border: 1px solid #dce3e9;
    border-radius: 12px;

    padding: 15px;

    display: flex;
    align-items: flex-start;

    gap: 18px;

    margin-top: 15px;
}

.avatar {
    min-width: 72px;
    height: 72px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: bold;
}

.blue {
    background: #d4e8fa;
    color: #173f70;
}

.pink {
    background: #ffd5e3;
    color: #172b55;
}

.green {
    background: #d7efd9;
    color: #17572a;
}

.post-content {
    flex: 1;
}

.post-content h3 {
    font-size: 21px;
    margin-bottom: 3px;
}

.role {
    color: #707c8b;
    font-size: 17px;
    margin-bottom: 12px;
}

.text {
    font-size: 20px;
    margin-bottom: 8px;
}

.time {
    color: #89939e;
    font-size: 16px;
}

.like-btn {
    align-self: center;

    background: white;
    color: #1475d1;

    border: 1px solid #1475d1;
    border-radius: 8px;

    padding: 12px 20px;

    font-size: 17px;

    cursor: pointer;
}

.like-btn:hover {
    background: #eaf5ff;
}

/* Profile */

.profile-info {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 10px 0 20px;
}

.profile-avatar {
    width: 90px;
    height: 90px;

    border-radius: 50%;

    background: #e1d2ff;
    color: #422080;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 38px;
    font-weight: bold;
}

.profile-info h3 {
    font-size: 23px;
}

.profile-info p {
    color: #737e8d;
    font-size: 18px;
    margin-top: 5px;
}

/* Stats */

.stats {
    display: flex;
    justify-content: space-around;
    text-align: center;

    margin: 20px 0;
}

.stats div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.stats strong {
    font-size: 22px;
}

.stats span {
    color: #747e8c;
    font-size: 17px;
}

.open-profile {
    width: 100%;

    padding: 15px;

    border: none;
    border-radius: 8px;

    background: #287fe0;
    color: white;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

/* Suggested Users */

.user {
    display: flex;
    align-items: center;

    gap: 12px;

    margin-top: 18px;
}

.user-info {
    flex: 1;
}

.user-info h3 {
    font-size: 20px;
}

.user-info p {
    color: #737e8d;
    margin-top: 4px;
}

.follow-btn {
    padding: 10px 20px;

    border: 1px solid #2880df;
    border-radius: 8px;

    background: white;
    color: #1470c7;

    font-size: 16px;

    cursor: pointer;
}

.follow-btn:hover {
    background: #eaf4ff;
}

/* Share Box */

.share-box {
    background: #ddecfc;

    border-radius: 15px;

    padding: 25px;

    text-align: center;

    color: #1267bd;
}

.share-box div {
    font-size: 35px;
    margin-bottom: 10px;
}

.share-box h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.share-box p {
    font-size: 18px;
}

/* Responsive */

@media (max-width: 900px) {

    .container {
        grid-template-columns: 1fr;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        display: none;
    }

    .logo {
        font-size: 23px;
    }

    .navbar {
        padding: 0 15px;
    }
}

@media (max-width: 600px) {

    .post {
        flex-wrap: wrap;
    }

    .like-btn {
        margin-left: 90px;
    }

    .container {
        padding: 0 10px;
        margin-top: 15px;
    }
}
